<!DOCTYPE html>

<html>
    
    <head></head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>
    </title>
    <link rel="canonical" href="https://getbootstrap.com/docs/4.4/examples/product/">

    <body>
    <nav>
  {%include 'includes/navBar.html'%}
</nav>

  <div class='container'>
    {%block body%}
    {%endblock%} 
  </div>

  <footer>
  </footer>    
 </body>

</html>
